body {
	background-color: #272727;
    max-width: 900px;
    margin: auto;
}

.profile-img {
	border-radius: 50%;
}

#title,
.subtitle,
.post-title {
	color: rgb(228, 228, 228);
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: underline;
    color: lightgrey;
}

.post-title {
	font-size: 16px;
	font-style: italic;
	margin: 0 0 15px 0;
}
.post-img {
	border-radius: 5px;
	margin: 0 0 15px 0;
    width: 100%;
}
.post {
	background-color: rgb(68, 68, 68);
	padding: 15px;
	border: 2px solid #858585;
	border-radius: 5px;
	margin: 0 0 15px 0;
	color: lightgrey;
}


article.post  p {
	margin: 0 0 15px 0;
    text-align: justify ;
}

.contact-list{
    list-style-type: none;
    padding: 0px;
    padding-left: 15px;
}

.contact-list li a {
    text-decoration: none;
}
